@import url("https://fonts.googleapis.com/css2?family=Quicksand&display=swap");

* {
  box-sizing: border-box;
}

html {
  font-size: 18px;
}

body {
  margin: 0;
  font-family: Quicksand, sans-serif;
}

a {
  text-decoration: none;
}
:root {
  --header-background-color: orange;
  --header-padding: 5px 10px;
  --header-margin: 15px;
  --header-border-radius: 15px;
  --header-font-size: 1rem;
  --header-color: white;
  --header-cart-count-background-color: #ff4d4d;
  --header-cart-count-color: white;
}
